annotated-types
anthropic
anyio
black
cachetools
certifi
charset-normalizer
clang
click
colorama
contourpy
cycler
distro
fonttools
google-auth
google-genai
h11
httpcore
httpx
idna
jiter
kiwisolver
marko
matplotlib
mypy-extensions
numpy
openai
packaging
pandas
pathspec
pillow
pip
platformdirs
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
python-dateutil
pytz
requests
rsa
seaborn
six
sniffio
tqdm
typing_extensions
tzdata
urllib3
websockets
